/* You can add global styles to this file, and also import other style files */
body{
    background-image: radial-gradient(#aeffae, #3d99ff);
    background-position: center;
    background-size: cover;
}